@model IEnumerable<Polizia.Models.Violazione>

@{
    ViewBag.Title = "Violazioni";
}

<h2>Violazioni</h2>


<table class="table table-striped mt-4">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isContestabile)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isContestabile)
            </td>

        </tr>
    }

</table>

<div>
    @Html.ActionLink("Torna alla home", "Index", new {}, new {@class = "btn btn-primary"})
</div>
